* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cell {
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: aqua;
  border-color: rgb(238, 231, 231);
}

.playedCell {
  display: block;
  height: 50px;
  width: 50px;
  cursor: pointer;
  pointer-events: none;
  border-color: rgb(238, 231, 231);
  font-weight: bold;
  font-size: 1.25rem;
}
